
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<h1>@ViewBag.seriesTitle</h1>
<h2>Issue #@ViewBag.issueNumber</h2>
<br />
<h5>Description</h5>
<div>@Html.Raw(ViewBag.description)</div>
<br />
@if (ViewBag.artists.Length > 0)
{
    <h5>Artists</h5> 
}
<div>
    <ul>
        @foreach (var artist in ViewBag.artists)
        {
            <li>@artist</li>
        }
    </ul>
</div>
